body{
    /* background-color: lightgray; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.title{
    background-color: rgb(58, 57, 57);
    background-image:  url(../img/images\ \(2\).jpg);
    background-size: cover;
    background-position: top;
    background-blend-mode: difference;
    color: white;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    width: 80%;
    padding-left: 100px;
    padding-top: 50px;
}

span{
    font-weight: bold;
}

article img{
    width: 500px;
}

h3{
    margin: 20px 0;
}

article p{
    margin: 15px 0;
}