
body{
    font-size: 20px;
}

.title{
    background-color: rgb(44, 43, 43);
    background-image:  url(../img/images\ \(4\).jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
    color: white;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    width: 80%;
    padding-left: 100px;
    padding-top: 50px;
}

p{
    margin: 15px 0;
}