body{
    /* background-color: lightgray; */
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

.title{
    background-color: rgb(58, 57, 57);
    background-image: url(../img/download.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: difference;
    color: white;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h2 {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

article{
    width: 80%;
    padding-left: 100px;
    padding-top: 50px;
}

span{
    font-weight: bold;
}

.cuidados3{
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border: 1px solid black;
    border-left: 20px solid black;
    border-right: 20px solid black;
}

h3{
    margin: 20px 0;
}

article p{
    margin: 15px 0;
}